body {
    font-family: sans-serif;
    background-color: rgb(141, 255, 137);
}

footer{
   padding-top: 300px;
}



body {
    font-family: sans-serif;
    background-color: rgb(141, 255, 137);
}

footer{
   padding-top: 400px;
}

h1{
   text-align: center;
}

.social{
        padding-left: ;
}

.p{
   font-size:20px;
}



body {
    font-family: sans-serif;
}

.ggh{
     background-color: rgb(141, 255, 137);;
}

.img_sov{
     float: left;
}



body {
    font-family: sans-serif;
}

.yyuoo{
       background-color: rgb(141, 255, 137);;
}
